[Desktop Entry]
Name=Light
Name[pl]=Light
Comment=Web browser
Comment[pl]=Przeglądarka WWW
Exec=light
Icon=light
Terminal=false
Type=Application
Categories=GTK;Network;WebBrowser;
# vi: encoding=utf-8
