[Desktop Entry]
Name=Light
Name[pl]=Light
Comment=Web browser
Comment[pl]=Przeglądarka WWW
Exec=light
Icon=light.png
Terminal=0
Type=Application
Encoding=UTF-8
# vi: encoding=utf-8
